/* JalanMenu.css */

.logo-slider {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
}

.logo-track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: scroll 30s linear infinite;
}

.logo-item {
  flex: 0 0 auto;
  margin: 0 75px;
}

.logo-item img {
  width: 100px; /* Sesuaikan dengan kebutuhan */
  height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.logo-item img:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
