/* Modal Styling */
.blog-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Moderustic', sans-serif;
    z-index: 1000; /* Ensures the modal is above all other elements */
}

.blog-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999; /* Ensures the overlay is below the modal but above other content */
}

.blog-title {
    margin-bottom: 10px;
    color: #000000;
    font-size: 18px;
    text-align: center;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; /* Keeps spacing consistent */
    width: 100%; /* Ensure the grid takes full width */
}

.blog-item {
    background-color: #F0F0F0;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    flex: 1 1 calc(50% - 20px); /* Adjusted for 2 columns with proper spacing */
    box-sizing: border-box; /* Ensures padding/margin is included in width */
    min-width: 0; /* Prevents flex items from overflowing */
}

.blog-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-item span {
    font-weight: 600;
}

.blog-image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
}

.close-modal-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: linear-gradient(90deg, #000000, #000000);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Moderustic', sans-serif;
}

/* Blinking animation for online status */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}