@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@400;800&display=swap');

body {
  font-family: 'Moderustic', sans-serif;
}

.node-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.node-container h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.node-container p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.chain-section h3 {
  font-size: xrem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
  margin-left: 20px; /* Shift the title to the left */
}

.chain-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.chain-item-link {
  text-decoration: none;
  color: inherit;
}

.chain-item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chain-item:hover {
  background-color: #e0e0e0;
  transform: translateY(-5px);
}

.chain-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chain-item span {
  font-size: 1rem;
  font-weight: 500;
}
