@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@400;800&display=swap');

.resource-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 40px auto;
  max-width: 100%;
  padding: 0 20px;
  font-family: 'Moderustic', sans-serif; /* Gunakan font Nunito */
  overflow: hidden;
  align-items: center;
}

.resource-item {
  min-width: 0;
  max-width: 100%;
  background: #1A1A1A;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.resource-item h3 {
  font-size: 39px;
  font-weight: 400;
  color: #ffffff;
  margin: 10px 0;
  font-family: 'Moderustic', sans-serif; /* Pastikan h3 menggunakan font Nunito */
}

.resource-content {
  display: flex;
  align-items: center;
}

.resource-content img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.resource-content p {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  font-family: 'Moderustic', sans-serif; /* Pastikan paragraf menggunakan font Nunito */
}

.resource-item::before {
  content: '';
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;  
}

.resource-title {
  padding: 10px 20px;
  font-family: 'Moderustic', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

.resource-grid {
  display: grid; /* Gunakan flexbox untuk layout kolom */
  grid-template-columns: repeat(6, 1fr);
  gap: 20px; /* Jarak antar kolom */
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.resource-icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px; /* Tambahkan jarak di bawah icon */
}

.resource-desc {
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    font-family: 'Moderustic', sans-serif;
}

@media (max-width: 768px) {
  .resource-section {
    flex-direction: column;
    gap: 30px;
  }

  .resource-item::before {
    display: none; /* Hilangkan panah di perangkat kecil */
  }

  .resource-item {
    text-align: left; /* Ubah ke kiri jika diperlukan */
  }
}
