@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@400;800&display=swap');

.rpc-status-box {
    max-width: 1220px;
    margin: 8px auto;
    padding: 15px;
    background-color: #0B0B0B;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-family: 'Moderustic', sans-serif;
}

.rpc-status-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rpc-status-content .project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.rpc-status-content .project-name {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
    flex-grow: 1;
    color: white; /* Menambahkan warna putih */
}

.rpc-status-content .refresh-icon {
    cursor: pointer;
    transition: transform 0.3s ease;
    color: white; /* Menambahkan warna putih */
}

.rpc-status-content .refresh-icon:hover {
    transform: rotate(90deg);
}

.rpc-status-content .chain-info,
.rpc-status-content .block-info,
.rpc-status-content .rpc-info {
    font-size: 16px;
    margin-bottom: 5px;
    color: #ffffff;
}

.rpc-status-content .rpc-status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

.rpc-status-content .rpc-status-indicator.online {
    background-color: green;
    animation: blink 1s infinite;
}

.rpc-status-content .rpc-status-indicator.offline {
    background-color: red;
}

.rpc-status-content .explorer-link a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 16px;
    margin-bottom: 10px;
}

.rpc-status-content .explorer-link a:hover {
    color: #0056b3;
}

/* Modal Styling */
.network-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Moderustic', sans-serif;
    z-index: 1000; /* Ensures the modal is above all other elements */
}

.network-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999; /* Ensures the overlay is below the modal but above other content */
}

.network-title {
    margin-bottom: 10px;
    color: #000000;
    font-size: 18px;
}

.network-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.network-item {
    background-color: #F0F0F0;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.network-item:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.network-item span {
    font-weight: 600;
}

.network-image {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 3px;
}

.close-modal-button {
    display: block;
    margin: 20px auto 0;
    padding: 10px 20px;
    background: linear-gradient(90deg, #000000, #000000);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Moderustic', sans-serif;
}

/* Blinking animation for online status */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Additional styling for the TabMenu to ensure it aligns well with the RpcStatusBox */
.tab-menu {
    margin-top: 10px;
    text-align: center;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;
    margin: 0 auto;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px 16px;
    margin: 3px;
    background-color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}

.tab.active {
    font-weight: bold;
    background: linear-gradient(90deg, #1a73e8, #48c6ef);
}

.tab:hover {
    background-color: #e0e0e0;
}

.tab span:first-child {
    margin-right: 5px;
}

.tab-content {
    padding: 20px;
    background-color: #f8f8f8;
    text-align: left;
    min-height: 200px;
    margin: 20px auto;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
